<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div>
      <h2>About me</h2>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
